
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <meta name="description" content="Askbootstrap">
        <meta name="author" content="Askbootstrap">
        <title>VIDOE - Video Streaming Website HTML Template</title>
        <!-- Favicon Icon -->
        <link rel="icon" type="image/png" href="{% static 'images/faviconicon.png'%}">
        <!-- Bootstrap core CSS-->
        <link href="{% static 'vendor/bootstrap/css/bootstrap.min.css'%}" rel="stylesheet">
        <!-- Custom fonts for this template-->
        <link href="{% static 'vendor/fontawesome-free/css/all.min.css'%}" rel="stylesheet" type="text/css">
        <!-- Custom styles for this template-->
        <link href="{% static 'css/osahan.css'%}" rel="stylesheet">
        <!-- Owl Carousel -->
        <link rel="stylesheet" href="{% static 'vendor/owl-carousel/owl.carousel.css'%}">
        <link rel="stylesheet" href="{% static 'vendor/owl-carousel/owl.theme.css'%}">
    </head>
    <body id="page-top">
        <div class="video-block section-padding">
            <div class="row" id="video-cards-wrapper">

            <div class="col-xl-3 col-sm-6 mb-3">
                <!-- Your video card content goes here... -->
                <a href="#"><img style="width: 100px;" class="img-fluid" src="../../../Pictures/pics/IMG_3160.jpg" alt="hi"></a>

            </div>
            <div class="col-xl-3 col-sm-6 mb-3">
                <!-- Your video card content goes here... -->
                <a href="#"><img style="width: 100px;" class="img-fluid" src="../../../Pictures/pics/1664992509614.jpg" alt=""></a>

            </div>
            <!-- Add the rest of your video card divs here... -->
        </div>

        </div>

        <!-- Your script tags go here... -->
        <script src="/static/vendor/jquery/jquery.min.js"></script>
        <script src="/static/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
        <!-- Core plugin JavaScript-->
        <script src="/static/vendor/jquery-easing/jquery.easing.min.js"></script>
        <!-- Owl Carousel -->
        <script src="/static/vendor/owl-carousel/owl.carousel.js"></script>
        <!-- Custom scripts for all pages-->
        <script src="/static/js/custom.js"></script>

        <!-- Add this script tag at the end of your index.html file, just before the closing </body> tag -->
        <script>
        // Fisher-Yates (Knuth) Shuffle Algorithm
        function shuffleArray(array) {
            for (let i = array.length - 1; i > 0; i--) {
                const j = Math.floor(Math.random() * (i + 1));
                [array[i], array[j]] = [array[j], array[i]];
            }
        }

        // Function to shuffle the video cards on each page load
        function shuffleVideoCards() {
            const videoCardsWrapper = document.getElementById('video-cards-wrapper');
            const videoCards = Array.from(videoCardsWrapper.children);
            shuffleArray(videoCards);

            // Append the shuffled elements back to the wrapper
            videoCards.forEach((card) => {
                videoCardsWrapper.appendChild(card);
            });
        }

        // Call the shuffleVideoCards function when the page is loaded
        document.addEventListener('DOMContentLoaded', shuffleVideoCards);
        </script>
    </body>
</html>